<div id="notices" class="pt-4 px-4 bg-black">
  <% if notice %>
    <div class="border-container-purple"><span class="ml-2 text-gray-900"><%= notice %></span></div>
  <% end %>
  <% if alert %>
    <div class="border-container-yellow"><span class="ml-2 text-gray-900"><%= alert %></span></div>
  <% end %>
</div>